.game-board {
    width: 60%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aqua; */
}

.row button {
    height: 75%;
    width: 25%;
    background-color: rgb(49, 46, 46);
    margin: 0px;
    border-radius: 10px;
    color: white;
    font-size: 28px;
}

.result {
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: "Poppins";
    font-weight: 500;
}

.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-container button {
    background-color: grey;
    border: 2px solid black;
    height: 50px;
}